.close-button {
  position: relative;
  font-size: 0;
  outline: none;
}

.close-button__icon {
  position: relative;
  top: -6px;
  left: 183px;
}

.close-button__icon--hidden {
  display: none;
}

.close-button__icon:hover,
.close-button__icon:focus {
  path {
    fill: $fuchsia;
  }
}

.close-button__icon:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .close-button__icon {
    top: 10px;
    left: 451px;
  }
}

@media (min-width: $desktop-width) {
  .close-button__icon {
    display: none;
  }
}
