.close-button {
  position: relative;
  padding-left: 176px;
  font-size: 0;
  outline: none;
}

.close-button__icon {
  position: relative;
  top: -6px;
  left: -19px;
}

.close-button__icon--hidden {
  display: none;
}

.close-button__icon:hover,
.close-button__icon:focus {
  path {
    fill: $fuchsia;
  }
}

.close-button__icon:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .close-button {
    padding-left: 444px;
  }

  .close-button__icon {
    top: 10px;
    left: 7px;
  }
}

@media (min-width: $desktop-width) {
  .close-button {
    display: none;
    margin: 0;
    padding: 0;
  }
  .close-button__icon {
    display: none;
  }
}
