.dev-link {
  position: relative;
  left: 95px;
  top: -33px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $dark-grey;
}

.dev-link__icon {
  position: relative;
  top: 10px;
  left: 17px;
  fill: $fuchsia;
}

@media (min-width: $tablet-width) {
  .dev-link {
    top: 67px;
    left: 149px;
  }
}

@media (min-width: $desktop-width) {
  .dev-link {
    left: 580px;
    font-size: 18px;
  }

  .dev-link::before {
    left: 150px;
  }
}
