.dev-link,
.dev-link__inner-footer {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $dark-grey;
}

.dev-link {
  left: 95px;
  top: -33px;
}

.dev-link__inner-footer {
  height: 25px;
  left: -163px;
  top: 143px;
}

.dev-link__icon {
  position: relative;
  top: -25px;
  left: 102px;
  fill: $fuchsia;
}

.dev-link__icon:hover,
.dev-link__icon:focus {
  fill: $dark-grey;
}

.dev-link:active {
  fill: $dark-grey;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .dev-link {
    top: 35px;
    left: 61px;
  }

  .dev-link__icon {
    top: 13px;
    left: 10px;
  }

  .dev-link__inner-footer {
    left: 60px;
    top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .dev-link {
    left: 22px;
    top: 58px;
    font-size: 18px;
  }

  .dev-link::before {
    left: 150px;
  }

  .dev-link__icon {
    top: 12px;
    left: 10px;
  }

  .dev-link__inner-footer {
    left: 24px;
    top: 61px;
    font-size: 18px;
  }
}
