.dev-link {
  position: relative;
  left: 95px;
  top: -33px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $dark-grey;
}

.dev-link__icon {
  position: relative;
  top: 10px;
  left: 17px;
  fill: $fuchsia;
}

.dev-link__icon:hover,
.dev-link__icon:focus {
  fill: $dark-grey;
}

.dev-link:active {
  fill: $dark-grey;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .dev-link {
    top: 65px;
    left: -27px;
  }
}

@media (min-width: $desktop-width) {
  .dev-link {
    left: 25px;
    font-size: 18px;
  }

  .dev-link::before {
    left: 150px;
  }

  .dev-link__icon {
    top: 12px;
    left: 10px;
  }
}
