.effect-article {
  display: none;
}

.effect-article__advertising,
.effect-article__advertising--timer {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect-article {
    display: flex;
    flex-direction: column;
    margin-top: -388px;
    padding-left: 330px;
  }

  .effect-article__advertising {
    position: relative;
    top: 145px;
    left: 36px;
    z-index: 1;
    display: inline;
    padding: 20px 33px;
    padding-bottom: 26px;
    font-size: 96px;
    font-weight: 700;
    color: $fuchsia;
    border: 15px solid $fuchsia;
    border-radius: 50%;
  }

  .effect-article__advertising--timer {
    position: relative;
    left: 21px;
    top: -77px;
    z-index: 0;
    width: 236px;
    height: 281px;
    display: block;
    fill: $timer-color;
  }

  .effect-article__title {
    margin-top: 71px;
    margin-bottom: 17px;
    font-size: 30px;
    line-height: 37px;
    font-weight: 700;
    color: #000000;
  }

  .effect-article__text {
    margin-top: -8px;
    margin-right: 34px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $dark-grey;
  }

  .effect-article__link {
    margin-top: -4px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $fuchsia;
    text-decoration: underline;
    text-decoration-color: $fuchsia;
  }
}

@media (min-width: $desktop-width) {
  .effect-article {
    margin-top: -586px;
    padding-left: 498px;
    padding-right: 126px;
    padding-bottom: 115px;
    background-color: $light-grey;
  }

  .effect-article__advertising {
    top: 169px;
    left: 154px;
    padding: 18px 42px 35px 40px;
    border: 18px solid $fuchsia;
    font-size: 120px;
  }

  .effect-article__advertising--timer {
    left: 129px;
    top: -135px;
    width: 302px;
    height: 419px;
    fill: $timer-color;
  }

  .effect-article__title {
    margin-bottom: 25px;
    padding-top: 91px;
    font-size: 30px;
    line-height: 24px;
  }

  .effect-article__text {
    margin-top: 2px;
    font-size: 18px;
    line-height: 31px;
  }

  .effect-article__link {
    padding-top: 17px;
    font-size: 18px;
  }
}
