.effect-article {
  display: none;
}

.effect-article__advertising,
.effect-article__advertising--timer {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect-article {
    display: flex;
    flex-direction: column;
    margin-top: -388px;
    padding-left: 330px;
  }

  .effect-article__advertising {
    position: relative;
    top: 123px;
    left: 70px;
    display: inline;
    padding: 8px 19px;
    font-size: 96px;
    font-weight: 700;
    color: $fuchsia;
    border: 15px solid $fuchsia;
    border-radius: 50%;
  }

  .effect-article__advertising--timer {
    position: relative;
    left: 39px;
    top: -102px;
    width: 240px;
    height: 281px;
    display: block;
    opacity: 0.3;
  }

  .effect-article__title {
    margin-bottom: 16px;
    font-size: 38px;
    line-height: 51px;
    font-weight: 700;
    color: #000000;
  }

  .effect-article__text {
    margin-top: 0;
    margin-right: 34px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $dark-grey;
  }

  .effect-article__link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $fuchsia;
    text-decoration: underline;
    text-decoration-color: $fuchsia;
  }
}

@media (min-width: $desktop-width) {
  .effect-article {
    margin-top: -586px;
    padding-left: 498px;
    padding-right: 126px;
    padding-bottom: 100px;
    background-color: $light-grey;
  }

  .effect-article__advertising {
    top: 169px;
    left: 154px;
    padding: 18px 38px 35px 40px;
    border: 18px solid $fuchsia;
    font-size: 120px;
  }

  .effect-article__advertising--timer {
    left: 110px;
    top: -141px;
    width: 338px;
    height: 419px;
    opacity: 0.3;
  }

  .effect-article__title {
    margin-bottom: 24px;
    padding-top: 134px;
    font-size: 30px;
    line-height: 24px;
  }

  .effect-article__title--line-break {
    display: none;
  }

  .effect-article__text {
    margin-top: 2px;
    font-size: 18px;
    line-height: 31px;
  }

  .effect-article__link {
    padding-top: 14px;
    font-size: 18px;
  }
}
