.menu-button__icon {
    position: relative;
    top: -4px;
    left: -76px;
}

.menu-button__icon--hidden {
  display: none;
}

.menu-button__icon:hover,
.menu-button__icon:focus {
  path {
    fill: $fuchsia;
  }
}

.menu-button__icon:active {
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .menu-button__icon {
    left: -79px;
  }
}

@media (min-width: $desktop-width) {
  .menu-button__icon {
    display: none;
  }
}
