.navigation-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
}

.navigation-link:hover,
.navigation-link:focus {
  color: $fuchsia;
}

.navigation-link:active {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

@media (min-width: $desktop-width) {
  .navigation-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
  }
}
