.navigation-list {
  @include list-reset;
}

.navigation-list__item{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

@media (min-width: $desktop-width) {
  .navigation-list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .navigation-list__item {
    padding-left: 80px;
    border: none;
  }
}

