.navigation-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: white;
}

@media (min-width: $desktop-width) {
  .navigation-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    cursor: pointer;
  }
}
