.offers {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}

/*.offers::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 20px;
  top: 25px;
  left: 12px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1200px' height='94.074px' viewBox='0 0 1200 94.074' enable-background='new 0 0 1200 94.074' xml:space='preserve'%3E%3Cpolygon fill='%23000000' points='1200,0 0,0 0,94.074 '/%3E%3C/svg%3E%0A");
}
*/
.offers__title--question{
  text-align: center;
}

.offers__title--answer {
  text-align: center;
}
