.offers-list {
@include list-reset;
  padding-top: 32px;
  padding-bottom: 320px;
  background-color: $light-grey;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 83px 522px;
}

.offers-list__item {
  position: relative;
  z-index: 2;
}

.offers-list::after {
  content: "";
  position: absolute;
  top: 1238px;
  left: 0;
  z-index: 1;
  border: 30px solid transparent;
  border-top: 33px solid #ffffff;
  border-left: 398px solid #ffffff;
  display: block;
}

.offers-list__item--title {
  padding-top: 37px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.offers-list__item--text {
  padding-left: 31px;
  padding-right: 31px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $dark-grey;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .offers-list {
    padding-left: 330px;
    padding-bottom: 55px;background-image: url(../img/iphone-screen-3-tablet@1x.png);
    background-position: 20px 2px;
  }

  .offers-list::after {
    content: "";
    position: absolute;
    top: 1200px;
    left: 0;
    z-index: 1;
    border: 44px solid transparent;
    border-top: 33px solid #ffffff;
    border-left: 869px solid #ffffff;
    display: block;
  }

  .offers-list__item--title {
    text-align: left;
  }

  .offers-list__item--text {
    padding-left: 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .offers-list {
    display: flex;
    margin: 0;
    padding-left: 160px;
    padding-top: 12px;
    padding-right: 160px;
    padding-bottom: 0;
    background-image: none;
  }

  .offers-list::after {
    content: "";
    position: absolute;
    top: 1123px;
    left: 0;
    z-index: 1;
    border: 78px solid transparent;
    border-top: 34px solid #ffffff;
    border-left: 1228px solid #ffffff;
    display: block;
  }

  .offers-list__item:first-child {
    padding-top: 280px;
    background-image: url(../img/iphone-screen-1-desktop@1x.png);
    background-repeat: no-repeat;
  }

  .offers-list__item:nth-child(2) {
    padding-top: 280px;
    background-image: url(../img/iphone-screen-2-desktop@1x.png);
    background-repeat: no-repeat;
  }

  .offers-list__item:nth-child(3) {
    padding-top: 280px;
    background-image: url(../img/iphone-screen-3-desktop@1x.png);
    background-repeat: no-repeat;
  }


  .offers-list__item--title {
    padding-left: 65px;
    padding-right: 65px;
    text-align: center;
  }

  .offers-list__item--text {
    padding-left: 49px;
    padding-right: 46px;
    text-align: center;
  }
}
