.offers {
 // position: relative;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}

.offers__title--question{
  text-align: center;
}

.offers__title--answer {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .offers__title--question {
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 40px;
  }

  .offers__title--answer {
    margin-left: 159px;
    margin-top: 18px;
    margin-right: 159px;
    font-size: 40px;
  }
}

@media (min-width: $desktop-width) {
  .offers__title--question {
    margin-top: 180px;
    font-size: 50px;
  }

  .offers__title--answer {
    margin-left: 350px;
    margin-top: 20px;
    margin-right: 350px;
    font-size: 50px;
  }
}
