.offers-list {
@include list-reset;
  margin-top: 127px;
  padding-bottom: 320px;
  background-color: $light-grey;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 83px 522px;
}

.offers-list__item {
  position: relative;
  z-index: 2;
}

.offers-list__triangle {
  position: absolute;
  top: 1204px;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 300px;
  fill: #ffffff;
}

/*.offers-list::after {
  content: "";
  position: absolute;
  top: 1238px;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 300px;
  background: #f2f2f2;
  transform: translateY(28px) translateX(7px) rotate(-7deg);
}
*/
.offers-list__item--title {
  padding-top: 37px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.offers-list__item--text {
  padding-left: 31px;
  padding-right: 31px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $dark-grey;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .offers-list {
    margin-top: 108px;
    padding-left: 330px;
    padding-bottom: 55px;
    background-color: $light-grey;
    /*background-image: url(../img/iphone-screen-3-tablet@1x.png);
    background-position: 20px 2px; */
    background-image: none;
  }

  .offers-list::before {
    content: "";
    position: absolute;
    top: 1347px;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 547px;
    background-image: url(../img/iphone-screen-3-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: 20px 1px;
  }

  .offers-list__triangle {
    top: 1245px;
  }

  /*.offers-list::before {
    content: "";
    position: absolute;
    top: 1427px;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 448px;
    background: #f2f2f2;
  }

  .offers-list::after {
    content: "";
    position: absolute;
    top: 1238px;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 422px;
    background: #f2f2f2;
    transform: translateY(163px) translateX(7px) rotate(-7deg);
  }
  */
  .offers-list__item--title {
    text-align: left;
  }

  .offers-list__item--text {
    padding-left: 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .offers-list {
    display: flex;
    margin: 0;
    padding-left: 160px;
    padding-top: 12px;
    padding-right: 160px;
    padding-bottom: 0;
    background-image: none;
  }

  .offers-list::before {
    display: none;
  }
  .offers-list__triangle {
    top: 1120px;
  }

  /*.offers-list::after {
    content: "";
    position: absolute;
    top: 1123px;
    left: 0;
    z-index: 1;
    display: block;
    width: 2000px;
    height: 300px;
    background: #f2f2f2;
    transform: translateY(-66px) rotate(-5deg);
  }
*/
  .offers-list__item:first-child {
    padding-top: 280px;
    background-image: url(../img/iphone-screen-1-desktop@1x.png);
    background-repeat: no-repeat;
  }

  .offers-list__item:nth-child(2) {
    padding-top: 280px;
    background-image: url(../img/iphone-screen-2-desktop@1x.png);
    background-repeat: no-repeat;
  }

  .offers-list__item:nth-child(3) {
    padding-top: 280px;
    background-image: url(../img/iphone-screen-3-desktop@1x.png);
    background-repeat: no-repeat;
  }


  .offers-list__item--title {
    padding-left: 65px;
    padding-right: 65px;
    text-align: center;
  }

  .offers-list__item--text {
    padding-left: 49px;
    padding-right: 46px;
    text-align: center;
  }
}
