.pagination-list {
  @include list-reset;
  position: absolute;
  top: 413px;
  left: 132px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.pagination-list__item {
  width: 6px;
  height: 6px;
  background-color: $pagination-grey;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-list__item:nth-child(2) {
  position: absolute;
  left: 23px;
  top: -1px;
  background-color: #ffffff;
  border: 2px solid $dark-grey;
  border-radius: 50%;
}

.pagination-list__item:nth-child(2):hover {
  top: 0;
  left: 25px;
}

.pagination-list__item:nth-child(3) {
  position: absolute;
  left: 50px;
}


.pagination-list__item:hover,
.pagination-list__item--active:hover {
  border: none;
  background-color: $dark-grey;
}

.pagination-list__item:active,
.pagination-list__item:nth-child(2):active {
  background-color: #e9ebec;
}

