.panorama {
  padding: 0;
  margin: 0px;
  margin-top: -14px;
}

.panorama__flag {
  position: relative;
  top: -130px;
  left: 123px;
  padding-left: 20px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
}

.panorama__description {
  margin-left: 20px;
  margin-right: 20px;
}
