.photo-preface-text {
  padding-left: 26px;
  padding-top: 18px;
  padding-right: 26px;
  padding-bottom: 55px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;
  background-color: white;
}
