.social-list {
  @include list-reset;
  display: flex;
  position: relative;
  font-size: 0;
}

.social-list__icon--twitter {
  position: relative;
  top: -106px;
  left: 90px;
  fill: $fuchsia;
}

.social-list__item--twitter::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -125px;
  left: 72px;
  border: 2px solid $light-grey;
  border-radius: 50%;
}

.social-list__icon--fb {
  position: relative;
  top: -108px;
  left: 139px;
  fill: $fuchsia;
}

.social-list__item--fb::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -125px;
  left: 134px;
  border: 2px solid $light-grey;
  border-radius: 50%;
}

.social-list__icon--yotube {
  position: relative;
  top: -106px;
  left: 194px;
  fill: $fuchsia;
}

.social-list__item--youtube::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -125px;
  left: 198px;
  border: 2px solid $light-grey;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .social-list {
    top: 195px;
    left: -139px;
    }
}

@media (min-width: $desktop-width) {
  .social-list {
    left: 92px;
  }
}
