.social-list {
  @include list-reset;
  display: flex;
  margin-top: 79px;
  font-size: 0;
}

.social-list__icon--twitter {
  position: relative;
  top: 4px;
  left: -28px;
  fill: $fuchsia;
}

.social-list__item--twitter::after {
  content: "";
  position: relative;
  width: 50px;
  height: 50px;
  top: -2px;
  left: -64px;
  padding: 25px;
  border: 2px solid $light-grey;
  border-radius: 50%;
}

.social-list__icon--fb {
  position: relative;
  top: 2px;
  left: 5px;
  fill: $fuchsia;
}

.social-list__item--fb::after {
  content: "";
  position: relative;
  width: 50px;
  height: 50px;
  top: -5px;
  left: -26px;
  padding: 25px;
  border: 2px solid $light-grey;
  border-radius: 50%;
}

.social-list__icon--yotube {
  position: relative;
  top: 5px;
  left: 42px;
  fill: $fuchsia;
}

.social-list__item--youtube::after {
  content: "";
  position: relative;
  width: 50px;
  height: 50px;
  top: 0;
  left: 6px;
  padding: 25px;
  border: 2px solid $light-grey;
  border-radius: 50%;
}

/*@media (min-width: $tablet-width) {
  .social-list {
    top: 195px;
    left: -139px;
    }
}

@media (min-width: $desktop-width) {
  .social-list {
    left: 92px;
  }
}
*/
@media (min-width: $desktop-width) {
  .social-list {
    margin-left: 207px;
    margin-right: 207px;
  }
}
