.stores {
  position: relative;
  top: 367px;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  margin-top: -5px;
  background-color: $dark-grey;
}

.stores__caption {
  display: none;
}

.stores__button {
  display: inline-block;
  margin-left: 20px;
  margin-top: 28px;
  margin-right: 20px;
  padding-left: 34px;
  padding-top: 17px;
  padding-right: 34px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 30px;
}

.stores__title {
  margin: 30px;
  margin-top: 85px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .stores {
    right: 307px;
    top: -50px;
    padding-left: 330px;
    padding-bottom: 200px;
    background: none;
  }
  .stores__caption {
    display: block;
    padding-left: 55px;
    padding-top: 99px;
    padding-right: 77px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: #ffffff;
  }

  .stores__button {
    margin-top: 0;
  }

  .stores__title {
    margin-bottom: 116px;
  }
}

@media (min-width: $desktop-width) {
  .stores {
    padding-left: 471px;
    padding-right: 406px;
  }

  .stores__title {
    margin-bottom: 126px;
  }
}
