.users-photo {
  padding: 0;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.users-photo__image {
  margin: 0;
  padding: 0;
  display: block;
}

.users-photo__description {
  padding-left: 17px;
  background-color: $light-grey;
}

.users-photo__description--title {
  margin: 0;
  padding-top: 11px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $dark-grey;
}

.users-photo__description--time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: $dark-grey;
}

.users-photo__description--text {
  margin: 0;
  padding-top: 4px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: $dark-grey;
}

.users-photo__description--likes {
  margin: 0;
  padding-left: 50px;
  padding-top:  19px;
  padding-bottom: 19px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $fuchsia;
}

@media (min-width: $tablet-width) {
  .users-photo__description {
    position: relative;
    padding-bottom: 20px;
    width: 264px;
    min-height: 135px;
  }

  .users-photo__description--title {
    margin: 0;
    padding-top: 18px;
  }

  .users-photo__description--likes {
    position: absolute;
    top: 91px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .users-photo {
    padding-bottom: 54px;
  }
}
